{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="sticky top-4 w-full px-6 z-50">
        <div class="max-w-6xl mx-auto bg-black border-1 border-white/40 px-6 py-4 flex justify-between items-center">

            <a class="text-xl font-black px-4 py-2 border-2 border-black border-dashed hover:border-white cursor-pointer">TOXIFY</a>

            <nav class="flex gap-6">
              <a href="{% url 'posts' %}" class="hover:text-blue-500 transition">Home</a>
              {% if user.is_authenticated %}
                <a href="{% url 'profile_detail' request.user.username %}"  class="hover:underline underline-offset-2 decoration-2 text-white/40 hover:text-white transition-colors">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-icon lucide-user"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"/><circle cx="12" cy="7" r="4"/></svg>
                </a>
<!--                <form action="{% url 'logout' %}" method="post" style="display: inline;">-->
<!--                  {% csrf_token %}-->
<!--                  <button type="submit" class="bg-transparent border-none hover:text-blue-500 transition cursor-pointer p-0 font-inherit text-inherit">Вийти</button>-->
<!--                </form>-->
              {% else %}
                <a href="{% url 'login' %}" class="hover:text-blue-500 transition">Вхід</a>
                <a href="{% url 'register' %}" class="hover:text-blue-500 transition">Реєстрація</a>
              {% endif %}
            </nav>

        </div>
    </div>
    <main class="pt-10 max-w-4xl mx-auto px-6">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>