@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap');

body {
  font-family: "JetBrains Mono", monospace;
  background-color: black;
  color: rgb(171, 245, 193);
  margin: 0;
}

input, textarea, select, button {
  color: rgb(171, 245, 193);
}

::placeholder {
  color: rgba(171, 245, 193, 0.3);
}