@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap');

body {
  font-family: "JetBrains Mono", monospace;
  background-color: black;
  color: white;
  margin: 0;
}